

body > .default_container{
	position: absolute;
	top: 0px;
	width: 100%;
}
input[type="text"]{
	background:#FFF;
	border:1px solid #CCC;
	width:100%;
	height:30px;
	box-shadow:0 0 2px rgba(0,0,0,0.5);
		-moz-box-shadow:0 0 2px rgba(0,0,0,0.5);
		-webkit-box-shadow:0 0 2px rgba(0,0,0,0.5);
	border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	text-indent:10px
}
.everything{width: 100%;top: 0;position: relative; float: left;}
/* GENERAL */

input:focus, textarea:focus{ 
	color: #868C8E;
	-webkit-box-shadow: inset #eaeaea 1px 1px 3px; 
	-moz-box-shadow: inset #eaeaea 1px 1px 3px; 
	box-shadow: inset #eaeaea 1px 1px 3px;  
	outline: 0;
}
p{
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: #888;
}

a{
	color: #666;
}
.logo{
	position: relative;
	float: left;
}
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
body{
	background: none repeat scroll 0 0 #EDEDED;
	font-size: 11px;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 20px;
	color: #666;
}
H1,H2,H3,H4,H5,H6{
	margin: 10px 0;
	font-family: Helvetica Neue, Arial;
	
}

.more-link{display: none;}
h1{
	font-size: 22px !important;
	font-weight: bold;
	font-family: Helvetica Neue, Arial !important;
	line-height: 26px;
	color: #444;
}
.color_logo{
	color: #7AB317;
}
#wrapper{
	clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: 980px;
}

#header_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#header{
	position: relative;
	width: 970px;
	left: -5px;
	margin: 0 auto;
	z-index: 999;
	min-height: 103px;
}
header .logo_and_menu{
	position: relative;
	float: left;
	width: 100%;
	padding-left: 10px;
	background: #fff;
}

.header_container{
	position: relative;
	float: left;
	width: 100%;
	background:#fff;
	border-top: 3px solid #444;
	min-height: 103px;
	z-index: 99999;
}

.slogan{
	position: relative;
	left: 36px;
	float: left;
	margin-top: 41px;
}
header #menulava{
	position: relative;
	float: right;
}
header #menulava .menu-desc{
	font-family: "Helvetica Neue", "Arial";
	font-size: 11px;
	font-weight: normal;
}
header #menulava > li{
	list-style: none;
	float: left;
	text-align: center;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

header #menulava > li.current-menu-item, header #menulava > li.current-menu-ancestor{
	border-top: 3px solid #1b9fbf;
}

header #menu{
	margin-top: -3px;
}

header #menulava > li > a{
	position: relative;
	float: left;
	padding: 40px 18px;
	color: #666;
	text-decoration: none;
	font-family: Helvetica Neue, Arial;
	font-weight: bold;
	font-size: 12px;
}

header #menulava > li.current-menu-item > a, header #menulava > li.current-menu-ancestor > a{
	color: #1b9fbf;
}

#menulava > li > a > .menu-desc{
	color: #888;
	font-weight: normal !important;	
}
.header-shadow{
	background: url(../images/header-shadow.png) no-repeat top center;
	width: 100%;
	margin: 0 auto;
	height: 41px;
	position: absolute;
	float: left;
	z-index: 9;
}
.copys_left{
	font-size: 11px;
	color: #666;
}
#footer_menu{
	position: relative;
	float: right;
}
#footer_menu li{
	position: relative;
	float: left;
	margin-right: 12px;
	border-right: 1px solid #333;
	padding-right: 12px;
	
}
#footer_menu li a{
	color: #666;
	font-size: 11px;
}
#footer_menu li a:hover{
	color: #fff;
}
#footer_menu li:last-child{
	border-right: none !important;
	padding-right: 0;
	margin-right: 0;
}
.logo h1{
	font-size: 24px !important;
}
.copys{
	padding: 30px 0;
	background: #212121;
	float: left;
	width: 100%;
}
ul.member li{float:left; margin-right:25px;}
ul.member li span{
	width:200px;
	height:200px;
	display:block;
	border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
	border:5px solid rgba(138,195,0,.2);
}
/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com
*/

/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }


/* Specific to example one */

#example-one { padding: 10px; margin: 0 0 20px 0; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; }

#example-one .nav { overflow: hidden; margin: 0 0 10px 0; }
#example-one .nav li { width: 97px; float: left; margin: 0 10px 0 0; }
#example-one .nav li.last { margin-right: 0; }
#example-one .nav li a { display: block; padding: 5px; background: #959290; color: white; font-size: 14px; font-weight:bold; text-align: center; border: 0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
#example-one .nav li a:hover { background-color: #111; }

#example-one ul { list-style: none; }
#example-one ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#example-one ul li a:hover { background: #fe4902; color: white; }
#example-one ul li:last-child a { border: none; }

#example-one ul li a.current, #example-one ul.featured li a:hover { background-color: #63c000; color: white; }
/* icon search */
input[type="text"].search{
	background:url("../images/search.png") no-repeat scroll 5px 7px #FFFFFF;
	display:inline-block;
	text-indent:30px
}

/* table properties*/
table{
	border:1px solid #CCC;
	width:100%;
	margin-top:20px;
	text-align:left;
	text-indent:5px;
}
tr{height:40px; line-height:40px}
tr.table_head{background:#e5e5e5; border-bottom:1px solid #CCC}
.item_one{width:60%}
.item_two{width:20%; border-left:1px solid #CCC}
tr.odd:hover, tr.even:hover{background:#d7ffad}
tr.odd{background:#f6f6f6; cursor:pointer}
tr.even{background:#FFFFFF; cursor:pointer}
i.icon_edit{background:transparent url("../images/icon_edit.png") no-repeat;}
i.icon_edit:hover{background:transparent url("../images/icon_edit_hover.png") no-repeat;}
i.icon_delete{background:transparent url("../images/icon_delete.png") no-repeat;}
i.icon_delete, i.icon_edit{
	width:16px;
	height:16px;
	display:inline-block;
	cursor:pointer
}
i.icon_delete:hover{background:transparent url("../images/icon_delete_hover.png") no-repeat;}


/* Buttons */
ul.buttons{margin:0}
ul.buttons li{float:left; margin-right:15px;}
.add_btn {
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:11.5px 20px;
	border-left:solid 1px #2ab7ec;
	margin-left:35px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.add_btn:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.add_btn::before {
	background-color:#2561b4;
	content:"+";
	width:35px;
	max-height:29px;
	height:100%;
	position:absolute;
	display:block;
	padding-top:8px;
	top:0px;
	left:-36px;
	font-size:35px;
	text-align:center;
	font-weight:bold;
	color:#8fd1ea;
	text-shadow:1px 1px 0px #07526e;
	border-right:solid 1px #07526e;
	background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -o-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(10,94,125)),
	color-stop(1, rgb(14,139,184))
	);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
}

.add_btn:active::before {
	top:-3px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}
